/* .bomber{
    width: 150px;
    height: auto;
    margin: 50px;
}

.gator-tee{
    width: 150px;
    height: auto;
    margin: 50px;
} */

.clothing-deck{
    border-radius: 0;
    width: 300px;
    height: auto;
    margin: 50px;
}