body{
    margin: 0;
}

html {
    box-sizing: border-box;
}

.about-body{
    text-align: left;
    font-family: sans-serif, cursive;
    font-size: 13px;
    margin-right: 700px;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;

}
.gator{
    float: right;
    margin-right: 200px;
}

.about-header {
    padding: 20px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}
  